<div id="fullscreen-spinner-overlay">
  <div class="fullscreen-spinner-wrapper">
    <span class="fullscreen-spinner"></span>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/featherlight@1/release/featherlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastr@2/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mark.js@8/dist/jquery.mark.min.js"></script>

<script>
  $(function () {
    $(".site-nav-search-form-ajax").submit(function (event) {
      event.preventDefault();
      $("#fullscreen-spinner-overlay").fadeIn(300);

      var form = $(this);
      $.ajax({
        url: form.attr("action"),
        type: form.attr("method"),
        data: form.serialize()
      })
      .done(function (data, textStatus, jqXHR) {
        if (data.posts.length == 0) {
          toastr.info("Make sure that all words are spelled correctly.", "Search didn't match any posts", {
            positionClass: "toast-top-center",
            timeOut: 10000
          });
        } else {
          let ul = $("<ul>");
          $.each(data.posts, function (index, post) {
            let title = $("<p>").addClass("search-title").append($("<a>").attr("href", "{{@site.url}}/" + post.slug + "/").text(post.title).mark(data.keywords));
            let content = $("<p>").addClass("search-content")
                .append($("<span>").addClass("search-updated-at").text(new Date(post.updatedAt).toLocaleDateString()))
                .append($("<span>").addClass("search-summary").text(post.summary).mark(data.keywords));
            ul.append($("<li>").append(title).append(content));
          });
          $.featherlight($("<div>").addClass("search-results").append(ul));
        }
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        var message;
          console.log(textStatus, errorThrown);
        if (jqXHR.status != 0) {
          message = jqXHR.status + " " + jqXHR.statusText;
        } else {
          message = "Unknown communication error";
        }
        if (errorThrown) {
          message += ": " + errorThrown;
        }
        toastr.error(message, "Error occurred", {
          positionClass: "toast-top-center",
          timeOut: 7500
        });
      })
      .always(function () {
        $("#fullscreen-spinner-overlay").fadeOut(300);
      });
    });
  });
</script>

{{> "additional-foot2"}}
