<h2>{{title}}</h2>
                    <a class="post-card-image-link" href="{{url}}">
                        <div class="image-div" style="width: 400px;">
                        <!--<div class="post-card-image" style="background-image: url({{feature_image}})"></div>-->
                        <img src="{{img_url feature_image size="large"}}" style="width: 400px; height: 300px; object-fit: fill;"/>
                        </div>
                    </a>