{{!-- Disqus comments --}}
<div class="comments" id="comments">
  <div class="comments__panel" id="disqus_thread">
  </div>
</div>
<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
{{!-- End of Disqus comments --}}