<article class="post">

  <section class="post-content">

    <h3>Elsewhere on the web...</h3>
    <ul>
      <li><a href="http://twitter.com/dbulli">Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/dbulli">LinkedIn</a></li>
    </ul>

    <p>You can always email me at me {at} dbulli {dot} com</p>
  </section>

</article>
