<div class="ds-share flat" data-thread-key="{{slug}}" data-title="{{title}}" data-images="此处请替换为分享时显示的图片的链接地址" data-content="此处请替换为分享时显示的内容" data-url="{{url absolute="true"}}">
    <div class="ds-share-aside-right">
      <div class="ds-share-aside-inner">
      </div>
      <div class="ds-share-aside-toggle">分享到</div>
    </div>
</div>