<section class="ebook-promo">
    <img src="{{asset 'images/ebook-success.png'}}" class="ebook-promo-packshot"/>
    <div class="ebook-promo-text-left">
        <h3 class="ebook-promo-title">Learn How Data Drives Success</h3>
        <p>Fast-growing businesses like Canva, Notion, and Loom are unblocking their best people with best-in-class tooling. You can too.</p>
        <form action="https://www.getcensus.com/lp/ebook-success-stories">
            <button class="button primary">
                <span class="button-content">Get the ebook</span>
            </button>
        </form>
    </div>
</section>