<section class="ebook-promo">
    <img src="{{asset 'images/ebook-mds-packshot.png'}}" class="ebook-promo-packshot"/>
    <div class="ebook-promo-text-left">
        <h3 class="ebook-promo-title">Learn how to operationalize your behaviorial data with reverse etl and do more with your data</h3>
        <form action="https://www.getcensus.com/lp/ebook-modern-data-stack-guide">
            <button class="button primary">
                <span class="button-content">Get the ebook</span>
            </button>
        </form>
    </div>
</section>