{{#is "home"}}
  <article class="featureArticle post-card">
      <div class="inner featureVid">
          <iframe width="100%" src="https://www.youtube.com/embed/6IYa-hjkUrs" frameborder="0" allowfullscreen></iframe>
      </div>
  </article>
{{/is}}