{{!-- Icon partial to include icons easily --}}
<div class="icon icon-{{name}}{{#if size}} icon--{{size}}{{/if}}{{#if class}} {{class}}{{/if}}">
  <svg class="icon__svg">
    <use xlink:href="#icon-{{name}}"></use>
  </svg>
</div>
