<div class="landing">
    <h2 class="landing__title">As&iacute; Programo Yo</h2>
    <sub class="landing__description">
        D&aacute; un vistazo a lo que tenemos publicado y aprende algo nuevo siempre.
    </sub>
</div>
