                        <a aria-label="apple-podcast" href="https://podcasts.apple.com/us/podcast/techmeme-ride-home/id1355212895?uo=4">
                                {{> "icons/listen-apple"}}
                        </a>
                        <a aria-label="google-podcast" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcHJlc3MubWUvUmlkZUhvbWU%3D">
                                {{> "icons/listen-google"}}
                        </a>
                        <a aria-label="spotify-podcast" href="https://open.spotify.com/show/0xyL4fhg7CdUMsXS7BFvjs">
                                {{> "icons/listen-spotify"}}
                        </a>

