<li class="wrap">
    <article class="post type-post status-publish format-standard hentry">
        <h2 class="entry-title"><a href="/{{slug}}" rel="bookmark">{{title}}</a></h2>
        <time class="updated" datetime="2012-05-03">{{date published_at format="MMMM DD, YYYY"}}</time>
    </article>
</li>