<nav class="main-nav overlay clearfix">
    <a class="home-button" href="{{@blog.url}}"><span class="word">Home</span></a>
    {{#if @blog.navigation}}
        <a class="menu-button icon-menu" href="#"><span class="word">Topics</span></a>
    {{/if}}
</nav>