<!-- Overwrites the default navigation bar to add the members-section -->
    <ul class="nav">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        <!-- End the loop -->
        {{#if @member}}
            {{#unless isSecondary}}
                <li class="nav-members{{#if current}} nav-current{{/if}}"><a href="/tag/mitarbeitende">Mitarbeitende</a></li>
            {{/unless}}
        {{/if}}
    </ul>
