{{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}"><i class="fa fa-navicon"></i>{{label}}</a></li>
{{/foreach}}