<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <!-- <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li> -->
            <li class="nav-link"><a href="../">Accueil blog</a></li>
            <li class="nav-link"><a href="https://inch.fr/" target="_blank">Inch</a></li>
            <li class="nav-link"><a href="https://www.facebook.com/inchsider" target="_blank">Facebook</a></li>
            <li class="nav-link"><a href="https://twitter.com/inchsider" target="_blank">Twitter</a></li>
            <li class="nav-link"><a href="https://www.linkedin.com/company-beta/5393853/" target="_blank">LinkedIn</a></li>
        {{/foreach}}
    </ul>
</div>
<span class="nav-cover"></span>
