{{#next_post in="all"}}
    <div class="daybody">
        <h2 class="post-card-title" style="color:#d0d0d1;"><a href={{url}} style="color:#d0d0d1;font-size: calc(8px + 1vw);">← Next Article</a></h2>
    </div>
{{/next_post}}