{{#next_post in="all"}}
    <div class="daybody">
        {{> "nextprevday-card"}}
    </div>
{{/next_post}}

{{#prev_post in="all"}}
    <div class="daybody">
        {{> "nextprevday-card"}}
    </div>
{{/prev_post}}