{{#next_post in="all"}}
    <a href="{{url}}" style="font-size: large;">Next Day's Post</a>
{{/next_post}}

{{#prev_post in="all"}}
    <a href="{{url}}" style="font-size: large; float:right;">Previous Day's Post</a>
{{/prev_post}}