{{!--
<section class="post-full-comments">
    If you want to embed comments, this is a good place to do it!
</section>
--}}

{{!-- Example of Isso integration
<section id="isso-thread" class="post-full-comments"></section>
<script data-isso="//comments.example.tld/" src="//comments.example.tld/js/embed.min.js"></script>
--}}
