{{!-- Site search (using Ghost Hunter) --}}
<div id="site-search">
    <form>
        <div class="form-group is-relative">
            <input id="search-field"  class="input" placeholder="{{t "Type to Search"}}" autocomplete="off"/>
            <button type="submit">
                {{> "svg/search-icon"}}
            </button>
        </div>
    </form>

    <div>
        <div id="search-results">
            <p>Enter a search term to find results in the site.</p>
        </div>
    </div>

    <i class="close">
        {{> "svg/close-button"}}
    </i>
</div>

