{{!-- Site search (using Ghost Hunter) --}}
<div id="site-search">
    <div class="container">
        <div class="columns">
            <form class="column is-half is-offset-one-quarter">
                <div class="form-group is-relative">
                    <input id="search-field"  class="input" placeholder="{{t "Type to Search"}}" autocomplete="off"/>
                    <button type="submit">
                        <i class="im im-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="columns">
            <div id="search-results" class="column is-half is-offset-one-quarter"></div>
        </div>
    </div>

    <i class="close"></i>
</div>