<li class="external-link"><a href="https://github.com/dlecina"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="https://www.linkedin.com/profile/view?id=125889251"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a href="https://twitter.com/alllucky7s"><i class="fa fa-twitter"></i> Twitter</a></li>
<li class="external-link"><a href="https://plus.google.com/+DavidLecinaFuentes"><i class="fa fa-google-plus"></i> Google+</a></li>
<li class="external-link"><a href="https://www.youtube.com/user/alllucky7s"><i class="fa fa-youtube-play"></i> YouTube</a></li>
<li class="external-link"><a target="_blank" href="mailto:dlecina13@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
<!--
<li class="external-link"><a href="http://www.last.fm/user/Lucky_7s">Last.fm</a></li>
<li class="external-link"><a href="http://steamcommunity.com/id/alllucky7s">Steam</a></li>
-->