<nav class="site-nav">
    <div class="site-nav-left">
        {{#if @site.logo}}
            <a href="https://lightit.io"><img class="site-nav-logo" src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
            <a href="https://lightit.io">{{@site.title}}</a>
        {{/if}}
    </div>
    <div class="site-nav-right">
        <a href="https://lightit.io/healthcare-software-development">
            Our Expertise
        </a>
        <div class="dropdown">
            <a href="https://lightit.io/#services">
                Services
            </a>
            <div class="dropdown-box">
                <div class="dropdown-content">
                    <a href="https://lightit.io/services/end-to-end-development">
                        End-to-end product development
                    </a>
                    <a href="https://lightit.io/services/staff-augmentation">
                        Staff augmentation
                    </a>
                </div>
            </div>
        </div>
        <a href="https://lightit.io/our-work">
            Our work
        </a>
        <div class="dropdown">
            <a href="https://lightit.io/about-us">
                About us
            </a>
            <div class="dropdown-box">
                <div
                    class="dropdown-content">
                    <a href="https://lightit.io/playbook">
                        Playbook
                    </a>
                    <a href="https://lightit.io/our-team">
                        Our team
                    </a>
                </div>
            </div>
        </div>
        <a href="https://lightit.io/blog/">
            Blog
        </a>
        <a href="https://lightit.io/contact" class="btn">
            Contact us
        </a>
    </div>
    <div class="site-nav-right-mobile">
        <button type="button" aria-label="Toggle navigation" class="hamburger-menu">
            <svg xmlns="http://www.w3.org/2000/svg" class="open-svg" viewBox="0 0 24 25"
                fill="none">
                <path d="M4 6.16016H20M4 12.1602H20M4 18.1602H20" stroke="#000" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" class="close-svg"
                viewBox="0 0 25 25" fill="none">
                <path d="M6.5 18.2061L18.5 6.20606M6.5 6.20605L18.5 18.2061" stroke="#000" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <div class="mobile-menu">
        <a href="https://lightit.io/healthcare-software-development">
            Our Expertise
        </a>
        <div class="mobile-dropdown">
            <button type="button" class="service-btn">
                Services
                <!-- active  -->
                <svg class="service-icon rotate-0"
                    xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="#fff" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <!-- active: max-h-52  -->
            <div class="mobile-dropdown-content max-h-0">
               <a href="https://lightit.io/services/end-to-end-development">
                    End-to-end product development
                </a>
                <a href="https://lightit.io/services/staff-augmentation">
                    Staff augmentation
                </a>
            </div>
        </div>
        <a href="https://lightit.io/our-work">
            Our work
        </a>
        <div>
        <button type="button" class="about-us-btn">
                About us
                <svg class="about-us-icon rotate-0"
                    xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="#fff" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <!-- active: max-h-52  -->
            <div class="mobile-dropdown-content max-h-0">
                <a href="https://lightit.io/playbook">
                    Playbook
                </a>
                <a href="https://lightit.io/our-team">
                    Our team
                </a>
            </div>
        </div>
        <a href="https://lightit.io/blog/">
            Blog
        </a>
        <a href="https://lightit.io/contact">
            Contact us
        </a>
    </div>
</nav>

<script>
// MOBILE NAV MENU"
const mobileMenu = document.querySelector('.mobile-menu')
const hamburgerMenu = document.querySelector('.hamburger-menu')

hamburgerMenu.addEventListener('click', e => {
    e.preventDefault()
    mobileMenu.classList.toggle('active')
    document.querySelector('.open-svg').classList.toggle('inactive')
    document.querySelector('.close-svg').classList.toggle('active')
});

// SERVICE DROPDOWN
document.querySelector('.service-btn').addEventListener('click', e => {
    e.preventDefault()
    document.querySelector('.service-icon').classList.toggle('rotate-0')

    const dropdown = e.target.nextElementSibling;
    dropdown.classList.toggle('max-h-0')
});

// ABOUT US DROPDOWN
document.querySelector('.about-us-btn').addEventListener('click', e => {
    e.preventDefault()
    document.querySelector('.about-us-icon').classList.toggle('rotate-0')

    const dropdown = e.target.nextElementSibling;
    dropdown.classList.toggle('max-h-0')
});
</script>