<nav class="site-nav">
    <div class="site-nav-left">
        {{#if @site.logo}}
            <a href="https://lightit.io"><img class="site-nav-logo" src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
            <a href="https://lightit.io">{{@site.title}}</a>
        {{/if}}
    </div>

    <div class="site-nav-right">
        <div class="dropdown">
            <a>About us</a>

            <div class="dropdown-box">
                <div class="dropdown-content">
                    <a href="https://lightit.io/about-us">
                        About us
                    </a>
                    <a href="https://lightit.io/about-us/our-team">
                        Our team
                    </a>
                </div>
            </div>
        </div>

        <a href="https://lightit.io/why-light-it">
            Why Light-it?
        </a>

        <div class="dropdown">
            <a>Services</a>

            <div class="dropdown-box">
                <div class="dropdown-content">
                    <a href="https://lightit.io/services">
                        Services
                    </a>

                    <a href="https://lightit.io/services/end-to-end-development">
                        End-to-end
                    </a>

                    <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/product-strategy">
                        Product Strategy
                    </a>
                    <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/product-design">
                        Product Design
                    </a>
                    <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/software-development">
                        Custom Software Development
                    </a>
                    <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/integrations-interoperability">
                        Integrations & Interoperability
                    </a>

                    <a href="https://lightit.io/services/staff-augmentation">
                        Staff Augmentation
                    </a>
                    <a href="https://lightit.io/services/emerging-technologies-consulting">
                        Emerging Technologies Consulting
                    </a>
                    <a href="https://lightit.io/services/healthcare-web-development-marketing-strategy">
                        Web Dev & Marketing Strategy
                    </a>
                </div>
            </div>
        </div>

         <div class="dropdown">
            <a>Our work</a>

            <div class="dropdown-box">
                <div class="dropdown-content">
                    <a href="https://lightit.io/our-work">
                        Our work
                    </a>
                    <a href="https://lightit.io/our-work/innovation-lab">
                        Innovation Lab
                    </a>
                </div>
            </div>
        </div>


        <div class="dropdown">
            <a>Community</a>

            <div class="dropdown-box">
                <div class="dropdown-content">
                    <a href="https://lightit.io/community">
                        Community
                    </a>
                    <a href="https://lightit.io/blog">
                        Blog
                    </a>
                    <a href="https://lightit.io/community/partners">
                        Partners
                    </a>
                    <a href="https://lightit.io/community/careers">
                        Careers
                    </a>
                    <a href="https://lightit.io/merch" target="_blank">
                        Merch
                    </a>
                </div>
            </div>
        </div>

        <a href="https://lightit.io/contact" class="btn">
            Contact us
        </a>
    </div>

    <div class="site-nav-right-mobile">
        <a href="https://lightit.io/contact" class="mobile-contact-us-btn">
            Contact us
        </a>

        <button type="button" aria-label="Toggle navigation" class="hamburger-menu">
            <svg xmlns="http://www.w3.org/2000/svg" class="open-svg" viewBox="0 0 24 25"
                fill="none">
                <path d="M4 6.16016H20M4 12.1602H20M4 18.1602H20" stroke="#FCFCFC" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" class="close-svg"
                viewBox="0 0 25 25" fill="none">
                <path d="M6.5 18.2061L18.5 6.20606M6.5 6.20605L18.5 18.2061" stroke="#FCFCFC" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </div>

    <div class="mobile-menu">
        <div class="mobile-dropdown">
            <button type="button" class="about-us-btn">
                About us
                <svg class="about-us-icon"
                    xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="#fff" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>

            <div class="mobile-dropdown-content max-h-0">
                <a href="https://lightit.io/about-us">
                    About us
                </a>
                <a href="https://lightit.io/about-us/our-team">
                    Our team
                </a>
            </div>
        </div>

        <a class="opacity-50" href="https://lightit.io/why-light-it">
            Why Light-it?
        </a>

        <div class="mobile-dropdown">
            <button type="button" class="services-btn">
                Services
                <svg class="services-icon"
                    xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="#fff" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>

            <div class="mobile-dropdown-content max-h-0">
                <a href="https://lightit.io/services">
                    Services
                </a>

                <a href="https://lightit.io/services/end-to-end-development">
                    End-to-end
                </a>

                <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/product-strategy">
                    Product Strategy
                </a>
                <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/product-design">
                    Product Design
                </a>
                <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/software-development">
                    Custom Software Development
                </a>
                <a class="pl-4" href="https://lightit.io/services/end-to-end-product-development/integrations-interoperability">
                    Integrations & Interoperability
                </a>

                <a href="https://lightit.io/services/staff-augmentation">
                    Staff Augmentation
                </a>

                <a href="https://lightit.io/services/emerging-technologies-consulting">
                    Emerging Technologies Consulting
                </a>
                 <a href="https://lightit.io/services/healthcare-web-development-marketing-strategy">
                    Web Dev & Marketing Strategy
                </a>
            </div>
        </div>

        <div class="mobile-dropdown">
            <button type="button" class="our-work-btn">
                Our work
                <svg class="our-work-icon"
                    xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="#fff" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>

            <div class="mobile-dropdown-content max-h-0">
                <a href="https://lightit.io/our-work">
                    Our work
                </a>
                <a href="https://lightit.io/our-work/innovation-lab">
                    Innovation Lab
                </a>
            </div>
        </div>

        <div class="mobile-dropdown">
            <button type="button" class="community-btn">
                Community
                <svg class="community-icon"
                    xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M16.3337 7.5L10.5003 13.3333L4.66699 7.5" stroke="#fff" stroke-width="1.66667"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>

            <div class="mobile-dropdown-content max-h-0">
                <a href="https://lightit.io/community">
                    Community
                </a>
                <a href="https://lightit.io/blog">
                    Blog
                </a>
                <a href="https://lightit.io/community/partners">
                    Partners
                </a>
                <a href="https://lightit.io/community/careers">
                    Careers
                </a>
                <a href="https://lightit.io/merch" target="_blank">
                    Merch
                </a>
            </div>
        </div>
    </div>
</nav>

<script>
// MOBILE NAV MENU"
const mobileMenu = document.querySelector('.mobile-menu')
const hamburgerMenu = document.querySelector('.hamburger-menu')

hamburgerMenu.addEventListener('click', e => {
    e.preventDefault()
    mobileMenu.classList.toggle('active')
    document.querySelector('.open-svg').classList.toggle('inactive')
    document.querySelector('.close-svg').classList.toggle('active')
});

const toggleArrow = (buttonLabel, iconLabel) => {
    document.querySelector(buttonLabel).addEventListener('click', e => {
        e.preventDefault()
        document.querySelector(iconLabel).classList.toggle('rotate-180')

        const dropdown = e.currentTarget.nextElementSibling;
        dropdown.classList.toggle('max-h-0')
    });
}

toggleArrow('.about-us-btn', '.about-us-icon');
toggleArrow('.services-btn', '.services-icon');
toggleArrow('.our-work-btn', '.our-work-icon');
toggleArrow('.community-btn', '.community-icon');

</script>
