<form id="site-nav-search-form" action="https://www.google.com/search" method="get" class="social-link">
  <input id="site-nav-search-input" name="q" type="search" required="required" minlength="2" maxlength="30" value=""/>
  <input type="hidden" name="as_sitesearch" value="{{@site.url}}"/>
</form>
