<a href="/blog" class="navigation-item w-nav-link">Blog</a>
<a href="/companies" class="navigation-item w-nav-link">Companies</a>
<a href="/team" class="navigation-item w-nav-link">Team</a>
<a href="/get-investment" class="navigation-item cc-mobile-only w-nav-link">Get&nbsp;Investment</a>
<a href="/contact" class="navigation-item cc-mobile-only w-nav-link">Contact</a>
<a href="/get-investment" class="button cc-nav-cta navigation-item w-inline-block">
    <div>Get&nbsp;Investment</div>
</a>