{{!-- Social Media Links --}}
<div class="social-links">
  {{!-- Facebook --}}
  <a class="social-links__item facebook"
     href="{{facebook_url}}" target="_blank" title="Facebook" aria-label="Facebook">
    {{>icon name="facebook"}}
    <p>Facebook</p>
  </a>
  {{!-- Twitter --}}
  <a class="social-links__item twitter"
     href="{{twitter_url}}" target="_blank" title="Twitter"  aria-label="Twitter">
    {{>icon name="twitter"}}
    <p>Twitter</p>
  </a>
  {{!-- Instagram --}}
  <a class="social-links__item instagram"
     href="https://instagram.com" target="_blank" title="Instagram" aria-label="Instagram">
    {{>icon name="instagram"}}
    <p>Instagram</p>
  </a>
  {{!-- Linkedin --}}
  <a class="social-links__item linkedin"
     href="https://linkedin.com" target="_blank" title="Linkedin" aria-label="Linkedin">
    {{>icon name="linkedin"}}
    <p>Linkedin</p>
  </a>
  {{!-- Github --}}
  <a class="social-links__item github"
     href="https://github.com" target="_blank" title="Github" aria-label="Github">
    {{>icon name="github"}}
    <p>Github</p>
  </a>
  {{!-- RSS --}}
  <a class="social-links__item rss"
     href="/rss" target="_blank" title="RSS" aria-label="RSS">
    {{>icon name="rss"}}
    <p>RSS</p>
  </a>
</div>
