<div class='visually-hidden' style="position: absolute ; width : 1px ; height : 1px ; margin : -1px
    ; padding : 0">
    <svg xmlns='http://www.w3.org/2000/svg' xmlnsXlink='http://www.w3.org/1999/xlink'>
        <symbol id='arrow-right' viewBox="0 0 24 24">
            <path d="M13.7002 5.7013L19.7502 11.7253L13.7002 17.7503" fill="none" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            <path d="M19.75 11.7257L4.75 11.7257" stroke-width="1.5" fill="none" stroke-linecap="round"
                stroke-linejoin="round" />
        </symbol>
        {{!-- stroke="#595959" --}}
        <symbol id='burger' viewBox="0 0 24 24">
            <g>
                <path d="M2 6 H21" stroke-width="3" stroke-linecap="round" />
            </g>
            <g>
                <path d="M2 18 H13" stroke-width="3" stroke-linecap="round" />
            </g>
        </symbol>W
    </svg>
</div>