<section class="subscribe-form">
    <h3 class="subscribe-form-title">Подписка на {{@site.title}}</h3>
    <p class="subscribe-form-description">Получайте самые свежые посты на свою почту!</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Подписаться!</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Успех!</strong> Проверьте свою почту и перейдите по ссылке для подтверждения подписки.
        </div>
        <div class="message-error">
            Пожалуйста, введите корректный email адрес!
        </div>
    </form>
</section>