b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
package-lock.json
.env
.env.*
!.env.example

.idea/*
*.iml
projectFilesBackup

.DS_Store

dist/

config.json
changelog.md
changelog.md.bk

docs/
