b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
package-lock.json

.idea/*
*.iml
projectFilesBackup

.DS_Store

dist/

config.json
changelog.md
changelog.md.bk
assets/built/screen.css-old.css
assets/built/screen.css.map-old
assets/built/global.css
assets/built/global.css.map
assets/built/screen.css
assets/built/screen.css.map
assets/css/global.css
assets/css/screen.css
author.hbs
default.hbs
error-404.hbs
author.hbs
default.hbs
