{{!< default}}

{{#post}}
<article class="post-full leaflet-map-template">
  <div id="map" style="height: 100vh;"></div>
</article>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const imageUrl = "{{feature_image}}";

    // You can customize or even extract width/height from a custom tag or attribute
    const imageWidth = 2000;
    const imageHeight = 1500;

    const bounds = [[0, 0], [imageHeight, imageWidth]];

    const map = L.map("map", {
      crs: L.CRS.Simple,
      minZoom: -2,
      maxZoom: 2,
      center: [imageHeight / 2, imageWidth / 2],
      zoom: 0,
      maxBounds: bounds
    });

    L.imageOverlay(imageUrl, bounds).addTo(map);
    map.setMaxBounds(bounds);
  });
</script>
{{/post}}
