{{!< default}}

{{!-- Page 404 --}}
  <div class="container wrapper">
    <div class="error">
      {{!-- Error title and messages --}}
      <h1 class="error__title">{{t '404 Error'}}</h1>
      <div class="error__icon">{{>icon name="alert-octagon"}}</div>
      <div class="error__description">
        {{t "Something went wrong! We can't seem to find the page you are looking for"}}
      </div>

      {{!-- Links to home and contact page --}}
      <div class="error__links">
        <a class="btn btn__large" href="{{@blog.url}}">{{t "Home"}}</a>
      </div>

    </div>
  </div>
