{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}}

<div class="site-header-content-responsive">
    <h1 style="display:flex;justify-content:center;">
        <img style="display:block;width:100%;max-width:700px;height:auto;"
             src="https://speisekammer.app/content/images/2022/04/Homepage-Title-Deutsch.png"
             alt="Speisekammer App Header Logo"/>
    </h1>

    <div class="site-header-content-responsive-rows">

        <div class="site-header-column">
            <div style="text-align:left;color:white">
                <strong style="line-height:1.3em;">Hole dir den Überblick über deine Lebensmittel:</strong>
                <ul style="font-weight:600;list-style:disc;margin-top:0.5em;">
                    <li>Was ist wo gelagert?</li>
                    <li>Hinweise vor MHD-Ablauf</li>
                    <li>Gezielter Einkaufen, weniger Wegwerfen</li>
                    <li>Spart Geld und schont die Umwelt</li>
                </ul>
            </div>

            <div class="badges-line">
                <div class="badge">
                    <a
                            href='https://play.google.com/store/apps/details?id=app.speisekammer&campaignId=landingPage'><img
                            alt='Jetzt bei Google Play'
                            src='https://play.google.com/intl/en_us/badges/static/images/badges/de_badge_web_generic.png'
                            style="width: 100%;max-width: 200px"/></a>
                </div>

                <div class="badge">

                    <a href='https://apps.apple.com/us/app/speisekammer-vorrat-verwalten/id1575424944'><img
                            alt='Vorbestellen im App Store'
                            src='https://speisekammer.app/content/images/2021/10/AppStore-Button-DE-Download--646-x-250-px-.png'
                            style="width: 100%;max-width: 200px"/></a>
                </div>
                <div class="badge">
                    <a href="https://app.speisekammer.app">
                        <img src="https://speisekammer.app/content/images/2022/04/WebApp-Button--646-x-250-px-.png"
                             alt='Zur Web-App' style="width: 100%;max-width: 200px"/></a>
                </div>
            </div>


        </div>

        <div class="site-header-column">
            <img src="https://speisekammer.app/content/images/2022/04/iOS-Android-Web-Mockup-Startseite.png"
                 alt="Mockups von iPhone und Android mit Speisekammer App"
                 style="width:100%;max-width:500px;height:auto;"/>
        </div>
    </div>

</div>


    {{!-- The main content area --}}

    <main id="site-main" class="site-main outer">

        <div class="inner">

            {{#page}}

            <article class="article">

                <section class="gh-content gh-canvas">

                    {{content}}

                </section>

            </article>

            {{/page}}

        </div>


    </main>



    {{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in
    default.hbs --}}
    {{#contentFor "scripts"}}
    <script>

        // NOTE: Scroll performance is poor in Safari
        // - this appears to be due to the events firing much more slowly in Safari.
        //   Dropping the scroll event and using only a raf loop results in smoother
        //   scrolling but continuous processing even when not scrolling
        $(document).ready(function () {

            var nav = document.querySelector('.site-nav-main .site-nav');
            var feed = document.querySelector('.post-feed');

            var lastScrollY = window.scrollY;
            var lastWindowHeight = window.innerHeight;
            var lastDocumentHeight = $(document).height();
            var ticking = false;

            function onScroll() {
                lastScrollY = window.scrollY;
                requestTick();
            }

            function onResize() {
                lastWindowHeight = window.innerHeight;
                lastDocumentHeight = $(document).height();
                requestTick();
            }

            function requestTick() {
                if (!ticking) {
                    requestAnimationFrame(update);
                }
                ticking = true;
            }

            function update() {
                var trigger = feed.getBoundingClientRect().top + window.scrollY;

                // show/hide nav
                if (lastScrollY >= trigger - 20) {
                    nav.classList.add('fixed-nav-active');
                } else {
                    nav.classList.remove('fixed-nav-active');
                }

                ticking = false;
            }

            window.addEventListener('scroll', onScroll, { passive: true });
            window.addEventListener('resize', onResize, false);

            update();

        });
    </script>
    {{/contentFor}}
