{{!< default}}
<section class="content">
    <ul class="hfeed">
        {{#foreach posts}}
            {{#if @first}}
                <li class="featured">
                    {{> full-post}}
                </li>
            {{else}}
                {{> list-post}}
            {{/if}}
        {{/foreach}}
    </ul>

</section>
