{{!< default}}
<section class="content">
    <ul class="hfeed">
        {{#features}}
            <li class="featured">
                {{> featured}}
            </li>
        {{/features}}
        {{#posts}}
            {{> post}}
        {{/posts}}
    </ul>
</section>
