{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}



<main id="site-main" class="site-main outer">

    <div class="inner posts">


        <div style="margin-top: 2em;">               
            <h1 class="article-title">{{t "Blog"}}</h1>
        </div>
            
        
        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>
    </div>
       
</main>
