{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="{{post_class}}">

  {{!-- Content --}}
  <div class="container wrapper">
    {{!-- Page tag and title --}}
    <h1 class="post-header__title center-xs">{{title}}</h1>

    {{!-- Page image --}}
    {{#if feature_image}}
      <img class="lazyload" data-src="{{img_url feature_image}}">
    {{/if}}

    <article>
      <div class="page-content">
        {{content}}
      </div>
    </article>
  </div>

</div>
{{/post}}
