{{!< default}}

<main class="content" role="main">
    {{#post}}

        <article class="post">
            <header>
                <span class="entry-meta">Published on <time class="updated" datetime="{{dateFormat published_at format='YYYY-MM-DD'}}">{{dateFormat published_at format='DD MMMM YYYY'}}</time></span>
                <h1>{{title}}</h1>
            </header>
            <section class="entry-content">
                {{content}}
            </section>
        </article>
        
    {{/post}}
</main>