{{!< default}}

{{!-- Tag header --}}
{{#tag}}
  <section class="tag-header">
    <div class="container wrapper">
      <div class="grid">
        <div class="col-xs-12">
          <div class="tag-header__content center-xs">
            {{!-- Tag cover image --}}
            {{#if feature_image}}
              <div class="tag-header__img lazyload" data-src="{{img_url feature_image}}"></div>
            {{/if}}
            <h2 class="tag-header__name">{{name}}</h2>
            <div class="tag-header__description">{{description}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/tag}}

{{!-- The main content --}}
{{#if posts}}
<section class="tag-posts" id="content">
  <div class="container wrapper">
    <div class="grid">
      {{#foreach posts}}
        <div class="col-xs-12 col-md-4 post-wrapper">
          {{> post-card class="post-card--1-3"}}
        </div>
      {{/foreach}}
    </div>
    <div class="grid more-posts-wrapper"></div>
    <div class="grid">
      <div class="col-xs-12 center-xs">
        <button id="load-more-btn" class="btn btn__large btn__wide" onClick="loadMorePosts();">{{t "Load more posts"}}</button>
      </div>
    </div>
  </div>
</section>
{{/if}}
