{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}

<header class="site-header">
    {{> site-header}}
</header>
<div class="site-archive-header">
    {{> header-background background=feature_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="back-container">
            <a href="https://lightit.io/blog/" class="back-to-all-posts">
                <svg width="26" height="13" viewBox="0 0 26 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.65789 11.6579L1.5 6.5M1.5 6.5L6.65789 1.3421M1.5 6.5L24.7105 6.5" stroke="#4E5865" stroke-width="2.57895" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                &nbsp;Back to all posts
            </a>
        </div>
        <div class="inner site-header-content">
            <h1 class="site-title">{{name}}</h1>
            <h2 class="site-description">
                {{#if description}}
                {{description}}
                {{else}}
                A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </h2>
        </div>
    </div>
</div>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>
