{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


{{#tag}}
<div class="outer">
    <div class="inner site-header-content">
        <h1 class="site-title">{{name}}</h1>
        <h2 class="site-description">
            {{#if description}}
            {{description}}
            {{else}}
            A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
            {{/if}}
        </h2>
    </div>
</div>
{{/tag}}

{{!-- The main content area --}}
<section class="outer">
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</section>
