{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}
{{> header background=feature_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">{{name}}</h1>
            <h2 class="site-description">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </h2>
	    <div class="site-listen">
		{{#has tag="primary-ride-home"}}
			<a aria-label="apple-podcast" href="https://podcasts.apple.com/us/podcast/primary-ride-home/id1459176271?uo=4">
				{{> "listen-apple"}}
			</a>
			<a aria-label="google-podcast" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcHJlc3MubWUvcHJo">
				{{> "listen-google"}}
			</a>
			<a aria-label="spotify-podcast" href="https://open.spotify.com/show/2bvbeZdYfe6ru6lbzqGarO">
				{{> "listen-spotify"}}
			</a>
		{{/has}}
		{{#has tag="techmeme-ride-home"}}
			<a aria-label="apple-podcast" href="https://podcasts.apple.com/us/podcast/techmeme-ride-home/id1355212895?uo=4">
				{{> "listen-apple"}}
			</a>
			<a aria-label="google-podcast" href="https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkcHJlc3MubWUvUmlkZUhvbWU%3D">
				{{> "listen-google"}}
			</a>
			<a aria-label="spotify-podcast" href="https://open.spotify.com/show/0xyL4fhg7CdUMsXS7BFvjs">
                                {{> "listen-spotify"}}
                        </a>
		{{/has}}
	    </div>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>
