//===================================
// Lists
//===================================

ul, ol {
  margin: $spacing-base 0;
  padding-left: $spacing-base;

  li {
    line-height: $line-height-base;

    a {
      color: inherit;
    }
  }

  ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}
