//===================================
// Settings => Global
//===================================

// Base transition speed
$global-transition:				    .4s ease !default;
$global-transition-2x:        .8s ease !default;
$global-transition-3x:        1.2s ease !default;
$global-transition-4x:        1.6s ease !default;

// Global base distance
$global-base-distance:        10px;

// Border radius
$global-border-radius:        2px !default;

// Global Max Width
$global-max-width:            1200px !default;

