.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.arrow-right--left {
    transform: rotate(180deg);
}

.arrow-right--up {
    transform: rotate(-90deg);
}

.aside-box {
    width: 280px;
    flex-shrink: 0;
}

.aside-box .author-avatar {
    width: 35px;
    height: 35px;
    margin: 0;
    margin-right: 9px;
}

.aside-box .author-name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.aside-box .read-next-card {
    background: transparent;
    padding: 0;
    margin: 0 0 40px 0;
    flex: 0 1 380px;
}

.aside-box .read-next-card h1,
h2 {
    color: var(--darkgrey);
}

.aside-box .read-next-card h3,
h4,
h5,
h6 {
    color: var(--darkgrey);
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
}

.aside-box .read-next-card .read-next-card-header {
    padding-bottom: 2.8rem;
}

.aside-box .post-full-byline {
    margin: 35px 0 0;
}

.aside-box .read-next-card-content li:last-of-type {
    padding-bottom: 5px;
    border-top: 1px solid #e4eaed;
}

.aside-box .read-next-card-content li h4 {
    margin-bottom: 15px;
}

.aside-box .read-next-card-content li a {
    color: var(--darkgrey);
}

.aside-box .read-next-card-footer a {
    height: 50px;
    border: 0;
    font-size: 1.6rem;
    border-radius: 11px;
}

.aside-box .read-next-feed {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 280px;
}

.aside-box .read-next-card-meta {
    display: flex;
    align-items: center;
}

.aside-box .read-next-card-meta p {
    color: var(--midgrey);
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: none;
}

.btn {
    border-radius: 11px;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    outline: none;
}
.btn--black {
    background: #000;
    color: #fff;
}
.btn--black--outlined {
    border: solid 1px #000 !important;
    color: #000 !important;
    transition: 0.2s ease-in-out !important;
}
.btn--black--outlined:hover {
    border: solid 1px var(--yellow) !important;
    color: var(--yellow) !important;
}
.btn--full-width {
    width: 100%;
}
.btn--round {
    border-radius: 50%;
    justify-content: center;
    outline: 0;
}
.btn-icon--black {
    fill: #000;
    stroke: #000;
}

.button-go-top {
    position: fixed;
    bottom: 50px;
    right: 60px;
    height: 77px;
    width: 77px;
    background: black;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.9);
    fill: #b3b3b3;
    stroke: #d6d6d6;
    z-index: 101;
}
.button-go-top:hover {
    background: #1a1a1a;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255);
    fill: #fff;
    stroke: #fff;
}

.hashtag-toggle {
    display: none;
}
.hashtag-toggle__label {
    display: none;
}
.mobile-menu-overlay {
    display: none;
}
.mobile-menu-button {
    background: transparent;
    display: none;
}
.mobile-menu-button__icon {
    stroke: #b3b3b3;
}
.mobile-menu__footer {
    display: none;
}

.single-post {
    display: flex;
    margin-top: 47px;
}
.single-post figure,
.single-post .kg-image {
    width: 100%;
    overflow-y: auto;
}
.single-post .post-full {
    width: 720px;
    min-width: 720px;
    margin-left: 20px;
    margin-right: 50px;
}
.single-post .post-full-image {
    max-width: 720px;
    margin: 8px 0 36px;
}
.single-post .post-full-image img {
    max-width: 720px;
}
.single-post .post-full-header {
    margin-top: 8px;
    padding: 0;
}
.single-post .post-full-header .post-full-title {
    color: #151515;
    font-size: 3.5rem;
    margin-bottom: 21px;
}
.single-post .post-full-header .post-full-custom-excerpt {
    font-size: 1.6rem;
    font-weight: 400;
    max-width: 590px;
}
.single-post .post-full-byline-content {
    padding-top: 40px;
}
.single-post .post-full-content,
.single-post .post-full-content img,
.single-post .post-full-content video {
    max-width: 100%;
    font-size: 1.6rem;
    padding: 0;
}
.single-post .post-full-content h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #151515;
}
.single-post .kg-gallery-container {
    width: 100%;
}
.single-post pre {
    width: 720px;
    overflow-y: auto;
}

.tag {
    text-decoration: none;
    color: #6c6c6c;
    background: rgba(12, 12, 12, 0.05);
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 7px;
    text-transform: uppercase;
}
.tag--medium {
    padding: 8px;
    font-size: 1.6rem;
}
/* here we apply tag styles for sub-nav  */
.inner .site-header-subnav .nav {
    justify-content: flex-start;
    margin-top: 2.1rem;
    padding: 0 0 2rem;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.site-header-subnav .nav li {
    margin: 0.4rem 0;
    padding-left: 0.8rem;
}
.site-header-subnav .nav li a {
    text-decoration: none;
    color: #6c6c6c;
    background: rgba(12, 12, 12, 0.05);
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 7px;
    text-transform: uppercase;
    padding: 8px;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
}

@media (max-width: 1170px) {
    .site-nav-logo {
        margin: 0 auto;
    }
    .mobile-menu-button--open {
        display: flex;
    }
    .mobile-menu-wrapper .mobile-menu-button--open {
        display: none;
    }
    .mobile-menu-wrapper .mobile-menu-button--close {
        display: flex;
    }
    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background: rgba(0, 0, 0, 0.1);
        transition: opacity 0.2s ease-in;
        pointer-events: none;
    }
    .mobile-menu-close-overlay {
        background: transparent;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .mobile-menu-wrapper .site-nav-left {
        padding: 0 !important;
        margin: 0;
    }
    .mobile-menu-wrapper .site-nav-logo,
    .mobile-menu-wrapper .site-nav-right {
        display: none;
    }
    .mobile-menu-wrapper .site-nav {
        height: auto !important;
    }
    .mobile-menu-wrapper .mobile-menu {
        position: initial !important;
        margin: 0;
    }
    .mobile-menu-wrapper .mobile-menu-button--close {
        margin-top: 20px;
        margin-left: 40px;
    }
    .mobile-menu--open {
        z-index: 2000;
        opacity: 1;
        pointer-events: auto;
    }
    .mobile-menu--open .mobile-menu-close-overlay {
        position: absolute;
    }
    .mobile-menu-button__icon {
        stroke: #b3b3b3;
    }
    .mobile-menu {
        flex-grow: 0 !important;
        transition: all 0.35s ease-in-out;
    }

    .site-footer-content .copyright {
        max-width: 40%;
    }
    .site-footer-content .copyright-warning {
        max-width: 54%;
        overflow-wrap: break-word;
        overflow: hidden;
        white-space: normal;
        padding: 0 5px;
        margin-left: auto;
    }
    .mobile-menu .mobile-menu__footer {
        display: flex;
        border-top: 1px solid #fff;
        padding: 30px 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
        text-transform: none;
    }
    .mobile-menu .mobile-menu__footer .site-nav-logo {
        display: block;
        padding: 20px 50px !important;
        margin-left: 0 !important;
    }
    .mobile-menu .mobile-menu__footer .outer {
        padding: 0 10px;
    }
    .mobile-menu .mobile-menu__footer .site-footer {
        margin-top: 80px;
    }
    .mobile-menu .mobile-menu__footer .site-footer,
    .mobile-menu .mobile-menu__footer .site-footer-content {
        max-width: 100%;
    }
    .mobile-menu .mobile-menu__footer .site-footer-content {
        display: flex;
        flex-wrap: nowrap;
        font-size: 1.2rem;
        color: #474747;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .mobile-menu__description {
        font-size: 1.6rem;
        color: #797979;
        padding: 10px 50px;
        white-space: normal;
    }
    .mobile-menu {
        display: block !important;
        position: absolute !important;
        width: 375px;
        top: 0;
        left: -375px;
        background: #000;
        z-index: 200;
        transition: all 0.25s ease-in-out;
    }
    .mobile-menu li {
        margin-right: auto;
    }
    .mobile-menu .nav {
        position: initial;
        flex-direction: column;
        width: 100%;
        padding: 20px 50px;
    }
    .mobile-menu .nav-post-title {
        display: none;
    }
    .site-nav-left .site-nav-logo {
        margin: 0 auto;
    }
    .single-post {
        display: block;
        max-width: 100%;
    }
    .single-post .post-full {
        width: initial;
        min-width: initial;
        max-width: 100%;
        margin-right: initial;
        margin-left: initial;
    }
    .single-post .post-full-byline {
        max-width: 100%;
    }
    .single-post .post-full-content img,
    .single-post .post-full-content video {
        max-width: 1040px;
    }
    .single-post .post-full-image {
        max-width: none;
        margin: 25px 0 50px;
    }
    .single-post .post-full-image img {
        max-width: 1170px;
    }
    .single-post pre {
        width: 100%;
        max-width: 100%;
        overflow-y: auto;
    }
    .aside-box {
        margin-left: 0;
        margin-top: 40px;
        width: 100%;
    }
    .aside-box .read-next-feed {
        position: relative;
        width: 100%;
    }
    .aside-box .read-next-card {
        flex: 1 1;
    }
    .aside-box .read-next-card-content ul {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .aside-box .read-next-card-content li {
        flex: 1 0;
        min-width: 210px;
        height: 138px;
        padding-right: 10px;
    }
    .aside-box .read-next-card-content li:last-of-type {
        padding-bottom: 20px;
        padding-right: 0px;
    }
}

@media (max-width: 900px) {
    .hashtag-toggle {
        display: inline-block;
    }
    .hashtag-toggle__label {
        display: flex !important;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-left: auto;
        margin-right: 20px;
        width: 95px;
        border: 1px solid #1d1d1d;
        cursor: pointer;
        color: #1d1d1d;
        padding: 2px 8px;
        transition: all 0.35s ease-in-out;
    }
    .hashtag-toggle__hide {
        display: inline-block;
    }
    .hashtag-toggle__show-all {
        display: none;
    }
    .hashtag-toggle:checked ~ .hashtag-toggle__label {
        margin-top: -35px;
        z-index: 1100;
    }
    .hashtag-toggle:checked ~ .nav .hashtag-toggle__label .hashtag-toggle__show-all {
        display: inline-block;
    }
    .hashtag-toggle:checked ~ .nav .hashtag-toggle__label .hashtag-toggle__hide {
        display: none;
    }
    .hashtag-toggle:checked ~ .nav {
        overflow: hidden;
        height: 40px;
        padding: 0;
    }
    .hashtag-toggle:checked ~ .nav li:nth-child(n + 9) {
        display: none;
    }
}

/* here we try to copy of grid from ghost .post-card-large styles */

@media (min-width: 795px) {
    .button-go-top {
        bottom: 70px;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) {
        flex: 1 1 100%;
        flex-direction: row;
        padding-bottom: 40px;
        min-height: 280px;
        border-top: 0;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-image-link {
        position: relative;
        flex: 1 1 auto;
        margin-bottom: 0;
        min-height: 380px;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-content {
        flex: 0 1 361px;
        justify-content: center;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-content-link,
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-meta {
        padding: 0 0 0 40px;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1):not(.no-image) .post-card-header {
        margin-top: 0;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-title {
        margin-top: 0;
        font-size: 3.2rem;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-excerpt p {
        margin-bottom: 1.5em;
        font-size: 1.8rem;
        line-height: 1.5em;
    }
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-content-link,
    .tag-template .post-card:not(.post-card-large):nth-child(6n + 1) .post-card-meta {
        padding: 0 0 0 40px;
    }
}

@media (max-width: 650px) {
    .mobile-menu__footer .copyright-warning {
        margin-left: 0;
    }
}
