/* ====================
   SYNTAX HIGHLIGHTING
   ==================== */

pre {
    word-wrap: normal;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    font-size: 0.8em;
    line-height: 1.4em;
}
pre code, pre tt {
    white-space: pre;
    background: transparent !important;
}

.main-header {
    height: 40vh;
}

/* ===============
   DISQUS COMMENTS
   =============== */

.post-comments {
    border-top: 2px solid #f2f2f2;
    padding: 40px 0;
}

.post-comments strong {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-rendering: geometricPrecision;
    
}

.post-comments input.disqusbut {
    background-color: #57a3e8;
    color: #fff;
    width: 100%;
    padding: 15px 0;
}

/* ===============
   OPEN IMAGES
   =============== */

section.post-content img:hover {
    cursor: pointer;
}


/* ===============
   READING TIME
   =============== */
.eta {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;

    color:darkgray;

    position: relative;
    top: 10px;
    right: 30px;
    display: inline-block;
    font-feature-settings: initial;
    z-index: 999;
    font-weight: 400;
    font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -0.02em;
    text-rendering: optimizeLegibility;
    line-height: 44px;
    white-space: nowrap;
}

/* ===============
   MENU
   =============== */

.nav {
    display: table;
    height: 100%;
    background-color: #0d0d0d;
    color: #707070;
}

.nav .main-nav {
    display: table-row;
    height: 100%;
    margin-bottom: 72px;
}

ul.social-menu {
    display: table-row;
    text-align: center;
}

li.social-icon {
    display: inline-block;
}

.social-icon a i {
    transition: .14s color ease-out;
    color: #707070;
    font-size: 1.5em;
}

.social-icon a:hover i {
    color: #fff;
}

.subscribe-menu {
    position: initial;
    display: table-row;
}

.subscribe-button {
    position: initial;
    margin: 30px;
}