/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    word-break: break-word;
}

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.post-template .inner {
    max-width: 1286px !important;
}

/* 3. Special Template Styles
/* ---------------------------------------------------------- */

/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header-background {
    padding-bottom: 0 !important;
}

.site-header-content {
    align-items: flex-start !important;
    min-height: 16.4rem !important;
}

.site-title {
    font-size: 5rem !important;
    line-height: 1.16 !important;
}

/* 4.1 Home header
/* ---------------------------------------------------------- */

.site-home-header .site-header-content {
    padding: 3vw 0 2vw !important;
}

.site-home-header .site-title {
    font-size: 4rem !important;
    text-align: left !important;
    max-width: 395px !important;
}

.site-home-header .site-description {
    font-size: 4rem !important;
    font-weight: 600 !important;
}

@media (max-width: 700px) {
    .site-home-header .site-nav {
        margin-left: 0 !important;
    }
}
/* 4.2 Archive header (tag and author post lists)
/* ---------------------------------------------------------- */

.site-archive-header .site-header-background {
    background: #1d1d1d !important;
}

.site-archive-header .no-image .site-header-content {
    border-bottom: 0 !important;
}

.site-archive-header .site-header-content h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2.9rem;
    color: #fff;
}

.site-archive-header .site-header-content h2 {
    font-size: 1.6rem;
    color: #797979;
    margin-bottom: 4rem;
    max-width: 51.6rem;
}

/* Special header styles for smaller screens */

@media (max-width: 900px) {
    .site-header-content {
        display: none !important;
    }
    .site-header-background:after {
        height: 110px !important;
    }
}

/* 5. Site Navigation
/* ---------------------------------------------------------- */

.fixed-nav-active {
    position: initial !important;
}
.site-nav {
    border-bottom: 1px solid gray !important;
    height: 80px !important;
    font-size: 1.6rem !important;
}
.site-nav-content {
    margin-top: 7px;
}
.site-nav-left {
    text-transform: none !important;
}
.site-nav-left .site-nav-logo {
    padding: 12px 5px;
}
.site-nav-left .site-nav-logo:hover {
    transform: none !important;
    transition: none !important;
}
.site-nav-logo img {
    height: 35px !important;
}
.site-nav-right {
    padding: 17px 0 0 0 !important;
}
.site-home-header .site-nav-logo {
    display: inline-block !important;
}
.site-nav-left .nav li {
    position: relative !important;
    height: 62px !important;
}
.site-nav-left .nav li a {
    position: initial !important;
    transition: opacity 0.25s ease-in-out !important;
}
.site-nav-left .nav li a:before {
    bottom: 0 !important;
    height: 3px !important;
    opacity: 1 !important;
    transition: all 0.25s ease-in-out !important;
}

@media (max-width: 700px) {
    .site-home-header .site-nav {
        margin-left: -5vw;
    }

    .site-nav-main {
        padding: 0 5vw !important;
    }

    .site-nav-left {
        margin-right: 0;
        padding-left: 0 !important;
    }

    .site-header .site-nav-right,
    .fixed-nav-active .site-nav-right,
    .site-archive-header .site-nav-right,
    .site-home-header .site-nav-right {
        display: flex;
    }
}


/* Special behaviors for home navigation */

/* 6. Post Feed
/* ---------------------------------------------------------- */

/* Adjust some margins for smaller screens */

/* 7. Single Post
/* ---------------------------------------------------------- */

.post-full-header .post-full-tags {
    margin-bottom: 10px;
}

.post-template .site-main {
    margin-top: 82px !important;
}

.single-post {
    justify-content: center;
}

/* Some grouped styles for smaller viewports */

/* Tables */

/* 7.1. Post Byline
/* ---------------------------------------------------------- */

/* 7.2. Members Subscribe Form
/* ---------------------------------------------------------- */

/* 7.3. Comments
/* ---------------------------------------------------------- */

.post-full-comments {
    padding-right: 250px;
    margin-bottom: 100px;
}

@media (max-width: 1170px) {
    .post-full-comments {
        padding-right: initial;
    }
}
/* 7.4. Related posts
/* ---------------------------------------------------------- */

.read-next-card a svg {
    transition: all 0.2s ease-in-out;
}
.read-next-card-footer {
    margin: 30px 0 5px !important;
}
.read-next-card-footer a:hover svg {
    fill: var(--yellow);
    stroke: var(--yellow);
}

/* 7.5. Koenig Styles
/* ---------------------------------------------------------- */
.post-card-byline-content {
    text-transform: none !important;
}
.post-full-byline {
    margin: 0 !important;
}
.post-content ol {
    list-style: none;
    counter-reset: li;
    padding: 0;
}
.post-content ol li {
    padding: 0.5rem 0 0.5rem 4.4rem;
    counter-increment: li;
}

.post-content ol li::before {
    content: counter(li);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    margin-left: -4.4rem;
    background: #1d1d1d;
    border-radius: 50%;
    font-weight: 400;
    color: #fff;
    margin-right: 1.5rem;
    text-align: right;
    direction: rtl;
}
.post-full-content blockquote {
    margin: 1.5em 0 !important;
}
.post-full-content blockquote cite {
    display: flex;
    margin-top: 2.8rem;
    font-size: 1.6rem;
}
.post-full-content .post-content blockquote {
    position: relative;
    border-width: 3px 0;
    border-color: #000;
    border-style: solid;
    padding: 56px 0;
    font-family: "Golos", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #151515;
}
.post-full-content .post-content blockquote:before {
    background: white;
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 48px;
    height: 36px;
    width: 50px;
    display: block;
    overflow: hidden;
    transform: translate(0%, -60%);
}
.post-full-content .post-content blockquote:after {
    content: "";
    position: absolute;
    background: repeat-x 0/51% url("../images/quote.png");
    width: 42px;
    height: 36px;
    top: 0;
    left: 5px;
    display: block;
    overflow: hidden;
    transform: translate(0%, -60%);
}

/* Preventing full-width image overlap with post image.  */

/* keep existing <pre> styles for code cards with captions */

/* 8. Author Template
/* ---------------------------------------------------------- */

/* 9. Error Template
/* ---------------------------------------------------------- */

/* 10. Subscribe Message and Overlay
/* ---------------------------------------------------------- */

/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* 12. Dark Mode
/* ---------------------------------------------------------- */

/* 13. Modal
/* ---------------------------------------------------------- */

/* 13. Subscription form
/* ---------------------------------------------------------- */

/*
* etc
*/
.smp-link {
    width: 100% !important;
}
