/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*
   0.   Includes
   1.   Something
   2.   Something else
 */

/* ==========================================================================
   0. Includes
   ========================================================================== */

@import url(normalize.css);

/* ==========================================================================
   1. General
   ========================================================================== */

html {font-size: 62.5%;}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.6em;
    color: #50585D;
}

h1 {
    font-size: 5rem;
    line-height: 1.2em;
    letter-spacing: -1px;
}

/* ==========================================================================
   1. General
   ========================================================================== */

.post {
    max-width: 700px;
    margin: 0 auto;
}